body {
	margin: 0;
	font-family: sans-serif;
	font-style: ;24px;
}

.page-header {
	background-color: #baba55;
}

.promo {
	display: block;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.page-footer {
	display: block;

}